<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<!-- 配置contextConfigLocation初始化参数：指定Spring IoC容器需要读取的定义了非web层的Bean（DAO/Service）的XML文件路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-base.xml</param-value>
	</context-param>
	<!-- 配置ContextLoaderListerner：Spring MVC在Web容器中的启动(入口)类，负责Spring IoC容器在Web上下文中的初始化 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- servlet定义：前端处理器，接受的HTTP请求和转发请求的类 -->
	<servlet>
		<servlet-name>saint</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!--saint-servlet.xml：定义WebAppliactionContext上下文中的bean-->
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:saint-servlet.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>saint</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
